basic_config: &basic_config
  # Run settings
  log_to_screen: !!bool True # Log progress to screen.
  save_checkpoint: !!bool True # Save checkpoints
  checkpoint_save_interval: 10 # Save every # epochs - also saves "best" according to val loss
  true_time: !!bool False # Debugging setting - sets num workers to zero and activates syncs
  num_data_workers: 2 # Generally pulling 8 cpu per process, so using 6 for DL - not sure if best ratio
  enable_amp: !!bool False # Use automatic mixed precision - blows up with low variance fields right now
  compile: !!bool False # Compile model - Does not currently work
  gradient_checkpointing: !!bool False # Whether to use gradient checkpointing - Slow, but lower memory
  exp_dir: 'Demo_MW' # Output path
  log_interval: 1 # How often to log - Don't think this is actually implemented
  pretrained: !!bool False # Whether to load a pretrained model
  # Training settings
  drop_path: 0.1
  batch_size: 16 #1
  max_epochs: 150 #800
  scheduler_epochs: -1
  epoch_size: 10 #100 #2000 # Artificial epoch size
  rescale_gradients: !!bool False # Activate hook that scales block gradients to norm 1
  optimizer: 'AdamW' # a
  scheduler: 'cosine' # Only cosine implemented
  warmup_steps: 10 # Warmup when not using DAdapt
  learning_rate: 1e-3 # -1 means use DAdapt
  weight_decay: 1e-3 
  n_states: 15 #12   # Number of state variables across the datasets - Can be larger than real number and things will just go unused
  state_names: ['Pressure', 'Vx', 'Vy', 'Density',  'Vx', 'Vy', 'Density', 'Pressure'] # Should be sorted
  dt: 1 # Striding of data - Not currently implemented > 1
  #leadtime_max: 10 #prediction lead time range [1, leadtime_max]
  n_steps: 2 # Length of history to include in input
  enforce_max_steps: !!bool False # If false and n_steps > dataset steps, use dataset steps. Otherwise, raise Exception.
  accum_grad: 2  # Real batch size is accum * batch_size, real steps/"epoch" is epoch_size / accum
  # Model settings
  model_type:  'vit_all2all' # no need for time_type and space_type inputs
  #model_type:  'svit' #currently only support time_type=="all2all_time" and space_type=="all2all"
  #time_type: 'all2all_time' # 
  #space_type: 'all2all' #
  #model_type:  'avit' #currently only support space_type=="axial_attention" and time_type=="attention"
  #time_type: 'attention' # Conditional on block type
  #space_type: 'axial_attention' # Conditional on block type 
  tie_fields: !!bool False # Whether to use 1 embedding per field per data
  embed_dim: 192 # Dimension of internal representation - 192/384/768/1024 for Ti/S/B/L
  num_heads: 3 # Number of heads for attention - 3/6/12/16 for Ti/S/B/L
  processor_blocks: 12 # Number of transformer blocks in the backbone - 12/12/12/24 for Ti/S/B/L
  tokenizer_heads:
    - head_name: "tk-2D"
      patch_size: [[1, 16, 16]]
  adaptive: !!bool False
  sts_model: !!bool False
  adap_samp: !!bool False
  nrefines: 0 #number of coarse tokens picked to be refined
  bias_type: 'none'  # Options rel, continuous, none
  # Data settings
  train_val_test: [.8, .1, .1]
  augmentation: !!bool False # Augmentation not implemented
  use_all_fields: !!bool True # Prepopulate the field metadata dictionary from dictionary in datasets
  tie_batches: !!bool False # Force everything in batch to come from one dset
  extended_names: !!bool False # Whether to use extended names - not currently implemented
  embedding_offset: 0  # Use when adding extra finetuning fields
  train_data_paths: [
              #['/home/6pz/data/PDEBench_Data/2D/shallow-water', 'swe', ''],
              #['/home/6pz/data/PDEBench_Data/2D/NS_incom', 'incompNS', ''],
              #['/home/6pz/data/PDEBench_Data/2D/CFD/2D_Train_Rand', compNS, '128'],
              #['/home/6pz/data/PDEBench_Data/2D/CFD/2D_Train_Rand', compNS, '512'],
              #['/home/6pz/data/PDEBench_Data/2D/CFD/2D_Train_Turb', compNS, ''],
              #['/home/6pz/data/PDEBench_Data/2D/diffusion-reaction', 'diffre2d', ''],
              ['/lustre/orion/lrn037/world-shared/miniweather_thermals_tiny/train', 'thermalcollision2d', '', 'tk-2D'],
              ]
  valid_data_paths: [
              #['/home/6pz/data/PDEBench_Data/2D/shallow-water', 'swe', ''],
              #['/home/6pz/data/PDEBench_Data/2D/NS_incom', 'incompNS', ''],
              #['/home/6pz/data/PDEBench_Data/2D/CFD/2D_Train_Rand', compNS, '128'],
              #['/home/6pz/data/PDEBench_Data/2D/CFD/2D_Train_Rand', compNS, '512'],
              #['/home/6pz/data/PDEBench_Data/2D/CFD/2D_Train_Turb', compNS, ''],
              #['/home/6pz/data/PDEBench_Data/2D/diffusion-reaction', 'diffre2d', ''],
              ['/lustre/orion/lrn037/world-shared/miniweather_thermals_tiny/test', 'thermalcollision2d', '', 'tk-2D'],
              ]
  append_datasets: [] # List of datasets to append to the input/output projections for finetuning

