basic_config: &basic_config
  # Run settings
  log_to_wandb: !!bool False #True # Use wandb integration
  log_to_screen: !!bool True # Log progress to screen.
  save_checkpoint: !!bool True # Save checkpoints
  checkpoint_save_interval: 5 # Save every # epochs - also saves "best" according to val loss
  debug_grad: !!bool True # Compute gradient/step_sizes/ect for debugging
  true_time: !!bool False # Debugging setting - sets num workers to zero and activates syncs
  num_data_workers: 2 #6 # Generally pulling 8 cpu per process, so using 6 for DL - not sure if best ratio
  enable_amp: !!bool False # Use automatic mixed precision - blows up with low variance fields right now
  compile: !!bool False # Compile model - Does not currently work
  gradient_checkpointing: !!bool False # Whether to use gradient checkpointing - Slow, but lower memory
  exp_dir: './Dev_Pretraining_TT_irun3' # Output path
  log_interval: 1 # How often to log - Don't think this is actually implemented
  pretrained: !!bool False # Whether to load a pretrained model
  # Training settings
  drop_path: 0.1
  batch_size: 512 #256 #128 #8
  max_epochs: 2000 #1000
  scheduler_epochs: -1 #1000 #-1
  epoch_size: 200 
  rescale_gradients: !!bool False # Activate hook that scales block gradients to norm 1
  optimizer: 'AdamW' 
  scheduler: 'cosine' # Only cosine implemented
  warmup_steps: 20 #2000 # Warmup when not using DAdapt
  learning_rate: 5e-4 # -1 means use DAdapt
  weight_decay: 1e-3
  n_states: 180  # Number of state variables across the datasets - Can be larger than real number and things will just go unused
  state_names: ['Pressure', 'Vx', 'Vy', 'Density',  'Vx', 'Vy', 'Density', 'Pressure'] # Should be sorted
  dt: 1 # Striding of data - Not currently implemented > 1
  leadtime_max:  10 #10 #prediction lead time range [1, leadtime_max]
  n_steps: 3 #16 # Length of history to include in input
  enforce_max_steps: !!bool False # If false and n_steps > dataset steps, use dataset steps. Otherwise, raise Exception.
  accum_grad: 1
  # Model settings
  model_type: 'turbt'
  #model_type:  'vit_all2all' # no need for time_type and space_type inputs
  #model_type:  'svit' #currently only support time_type=="all2all_time" and space_type=="all2all"
  #time_type: 'all2all_time' # 
  #space_type: 'all2all' #
  #model_type:  'avit' #currently only support space_type=="axial_attention" and time_type=="attention"
  #time_type: 'attention' # 
  #space_type: 'axial_attention' #
  tie_fields: !!bool False # Whether to use 1 embedding per field per data
  embed_dim: 768 # Dimension of internal representation - 192/384/768/1024 for Ti/S/B/L
  num_heads: 12 # Number of heads for attention - 3/6/12/16 for Ti/S/B/L
  processor_blocks: 20 # Number of transformer blocks in the backbone - 12/12/12/24 for Ti/S/B/L
  tokenizer_heads:
    - head_name: "tk-2D"
      patch_size: [[1, 4, 4]] 
    - head_name: "tk-3D"
      patch_size: [[4, 4, 4]] 
    - head_name: "tk-3D3"
      patch_size: [[6, 6, 6]]
    - head_name: "tk-3D8"
      patch_size: [[8, 8, 8]]
  hierarchical:
      filtersize: 2
      nlevels: 5 #[2^4, 2^3, 2^2, 2^1, 2^0]
  sp_groupsize: 64 #sequence_parallel_groupsize
  learn_res: !!bool True
  sts_model: !!bool False
  sts_train: !!bool False  #when True, we use loss function with two parts: l_coarse/base + l_total, so that the coarse ViT approximates true solutions directly
  #gammaref: 0.2 #pick all tokens that with variances larger than gammaref*max_variance to refine
  #refine_ratio: 0.2 #ratio of coarse tokens picked to be refined
  bias_type: 'PositionAreaBias'  # Options rel, continuous, none, PositionAreaBias
  # Data settings
  augmentation: !!bool False # Augmentation not implemented
  use_all_fields: !!bool True # Prepopulate the field metadata dictionary from dictionary in datasets
  tie_batches: !!bool False # Force everything in batch to come from one dset
  extended_names: !!bool False # Whether to use extended names - not currently implemented
  embedding_offset: 0  # Use when adding extra finetuning fields
  train_data_paths: [
              #Taylor Green: 6
              #['/lustre/orion/lrn037/proj-shared/zhangp/Taylor_Green/P1F2R64', 'taylorgreen', '', "tk-3D3"],
              #['/lustre/orion/lrn037/proj-shared/zhangp/Taylor_Green/P1F2R96', 'taylorgreen', '', "tk-3D8"],
              #['/lustre/orion/lrn037/proj-shared/zhangp/Taylor_Green/P1F3R32', 'taylorgreen', '', "tk-3D8"],
              #['/lustre/orion/lrn037/proj-shared/zhangp/Taylor_Green/P1F3R96', 'taylorgreen', '', "tk-3D8"],
              #['/lustre/orion/lrn037/proj-shared/zhangp/Taylor_Green/P1F4R32', 'taylorgreen', '', "tk-3D8"],
              #['/lustre/orion/lrn037/proj-shared/zhangp/Taylor_Green/P1F4R64', 'taylorgreen', '', "tk-3D3"],
              #SST: 1
              #['/lustre/orion/world-shared/stf006/muraligm/CFD135/data_iso/max_ent/binary_data/P1F4R32_training/raw_data/', 'sstF4R32', '', "tk-3D"],
              #JHTDB: 1
              ['/lustre/orion/lrn037/proj-shared/zhangp/JHUTDB/isotropic1024fine/train', 'isotropic1024fine','', "tk-3D8"],
              #the well: 16 datasets
              ['/lustre/orion/lrn037/proj-shared/thewell/datasets/convective_envelope_rsg/data/train',"convrsg", '', "tk-3D"], #256x128x256
              ['/lustre/orion/lrn037/proj-shared/thewell/datasets/euler_multi_quadrants_openBC/data/train',"euleropen", '', "tk-2D"], #512x512
              ['/lustre/orion/lrn037/proj-shared/thewell/datasets/euler_multi_quadrants_periodicBC/data/train',"eulerperiodic", '', "tk-2D"], #512x512
              ['/lustre/orion/lrn037/proj-shared/thewell/datasets/MHD_64/data/train',"MHD64", '', "tk-3D"],
              ['/lustre/orion/lrn037/proj-shared/thewell/datasets/MHD_256/data/train',"MHD256", '', "tk-3D"],
              ['/lustre/orion/lrn037/proj-shared/thewell/datasets/planetswe/data/train',"planetswe", '', "tk-2D"], #256x512
              ['/lustre/orion/lrn037/proj-shared/thewell/datasets/post_neutron_star_merger/data/train', "postneutronstarmerger", '', "tk-3D"], #192x128x66
              ['/lustre/orion/lrn037/proj-shared/thewell/datasets/rayleigh_benard/data/train',"rayleighbenard", '', "tk-2D"], #512x128
              ['/lustre/orion/lrn037/proj-shared/thewell/datasets/rayleigh_taylor_instability/data/train',"rayleightaylor", '', "tk-3D"], #128x128x128
              ['/lustre/orion/lrn037/proj-shared/thewell/datasets/shear_flow/data/train',"shearflow", '', "tk-2D"], #256x512
              ['/lustre/orion/lrn037/proj-shared/thewell/datasets/supernova_explosion_64/data/train',"supernova64", '', "tk-3D"],
              ['/lustre/orion/lrn037/proj-shared/thewell/datasets/supernova_explosion_128/data/train',"supernova128", '', "tk-3D"],
              ['/lustre/orion/lrn037/proj-shared/thewell/datasets/turbulence_gravity_cooling/data/train',"turbgravcool", '', "tk-3D"], #64x64x64
              ['/lustre/orion/lrn037/proj-shared/thewell/datasets/turbulent_radiative_layer_2D/data/train',"turbradlayer2D", '', "tk-2D"], #384x128
              ['/lustre/orion/lrn037/proj-shared/thewell/datasets/turbulent_radiative_layer_3D/data/train',"turbradlayer3D", '', "tk-3D"], #256x128x128
              ['/lustre/orion/lrn037/proj-shared/thewell/datasets/viscoelastic_instability/data/train',"viscoelastic", '', "tk-2D"], #512x512
              #MW: 1
              ['/lustre/orion/proj-shared/lrn037/miniweather_thermals_small/train', 'thermalcollision2d','', "tk-2D"],
              #PDEBench: 6 datasets
              ['/lustre/orion/proj-shared/lrn037/PDEBench_Data/2D/shallow-water', 'swe', '', "tk-2D"],
              ['/lustre/orion/proj-shared/lrn037/PDEBench_Data/2D/NS_incom', 'incompNS', '', "tk-2D"],
              ['/lustre/orion/proj-shared/lrn037/PDEBench_Data/2D/CFD/2D_Train_Rand', compNS128, '128', "tk-2D"],
              ['/lustre/orion/proj-shared/lrn037/PDEBench_Data/2D/CFD/2D_Train_Rand', compNS512, '512', "tk-2D"],
              ['/lustre/orion/proj-shared/lrn037/PDEBench_Data/2D/CFD/2D_Train_Turb', compNS, '', "tk-2D"],
              ['/lustre/orion/proj-shared/lrn037/PDEBench_Data/2D/diffusion-reaction', 'diffre2d', '', "tk-2D"],
              ]
  valid_data_paths: [
              #Taylor Green
              #['/lustre/orion/lrn037/proj-shared/zhangp/Taylor_Green/P1F2R32', 'taylorgreen', '', "tk-3D"],
              #['/lustre/orion/lrn037/proj-shared/zhangp/Taylor_Green/P1F3R64', 'taylorgreen', '', "tk-3D3"],
              #['/lustre/orion/lrn037/proj-shared/zhangp/Taylor_Green/P1F4R96', 'taylorgreen', '', "tk-3D8"],
              #SST
              #['/lustre/orion/world-shared/stf006/muraligm/CFD135/data_iso/max_ent/binary_data/P1F4R32_testing/raw_data/', 'sstF4R32', '', "tk-3D"],
              #JHTDB
              #['/lustre/orion/lrn037/proj-shared/zhangp/JHUTDB/isotropic1024fine/valid', 'isotropic1024fine', '',  "tk-3D8"],
              #the well
              #['/lustre/orion/lrn037/proj-shared/thewell/datasets/convective_envelope_rsg/data/valid',"convrsg", '', "tk-3D"],
              #['/lustre/orion/lrn037/proj-shared/thewell/datasets/euler_multi_quadrants_openBC/data/valid',"euleropen", '', "tk-2D"],
              #['/lustre/orion/lrn037/proj-shared/thewell/datasets/euler_multi_quadrants_periodicBC/data/valid',"eulerperiodic", '', "tk-2D"],
              #['/lustre/orion/lrn037/proj-shared/thewell/datasets/MHD_64/data/valid',"MHD64", '', "tk-3D"],
              #['/lustre/orion/lrn037/proj-shared/thewell/datasets/MHD_256/data/valid',"MHD256", '', "tk-3D"],
              #['/lustre/orion/lrn037/proj-shared/thewell/datasets/planetswe/data/valid',"planetswe", '', "tk-2D"],
              #['/lustre/orion/lrn037/proj-shared/thewell/datasets/post_neutron_star_merger/data/valid', "postneutronstarmerger", '', "tk-3D"],
              #['/lustre/orion/lrn037/proj-shared/thewell/datasets/rayleigh_benard/data/valid',"rayleighbenard", '', "tk-2D"],
              #['/lustre/orion/lrn037/proj-shared/thewell/datasets/rayleigh_taylor_instability/data/valid',"rayleightaylor", '', "tk-3D"],
              #['/lustre/orion/lrn037/proj-shared/thewell/datasets/shear_flow/data/valid',"shearflow", '', "tk-2D"],
              #['/lustre/orion/lrn037/proj-shared/thewell/datasets/supernova_explosion_64/data/valid',"supernova64", '', "tk-3D"],
              #['/lustre/orion/lrn037/proj-shared/thewell/datasets/supernova_explosion_128/data/valid',"supernova128", '', "tk-3D"],
              #['/lustre/orion/lrn037/proj-shared/thewell/datasets/turbulence_gravity_cooling/data/valid',"turbgravcool", '', "tk-3D"],
              #['/lustre/orion/lrn037/proj-shared/thewell/datasets/turbulent_radiative_layer_2D/data/valid',"turbradlayer2D", '', "tk-2D"],
              #['/lustre/orion/lrn037/proj-shared/thewell/datasets/turbulent_radiative_layer_3D/data/valid',"turbradlayer3D", '', "tk-3D"],
              #['/lustre/orion/lrn037/proj-shared/thewell/datasets/viscoelastic_instability/data/valid',"viscoelastic", '', "tk-2D"],
              #MW
              #['/lustre/orion/proj-shared/lrn037/miniweather_thermals_small/test', 'thermalcollision2d','', "tk-2D"],
              #PDEBench
              #['/lustre/orion/proj-shared/lrn037/PDEBench_Data/2D/shallow-water', 'swe', '', "tk-2D"],
              ['/lustre/orion/proj-shared/lrn037/PDEBench_Data/2D/NS_incom', 'incompNS', '', "tk-2D"],
              ['/lustre/orion/proj-shared/lrn037/PDEBench_Data/2D/CFD/2D_Train_Rand', compNS128, '128', "tk-2D"],
              ['/lustre/orion/proj-shared/lrn037/PDEBench_Data/2D/CFD/2D_Train_Rand', compNS512, '512', "tk-2D"],
              ['/lustre/orion/proj-shared/lrn037/PDEBench_Data/2D/CFD/2D_Train_Turb', compNS, '', "tk-2D"],
              ['/lustre/orion/proj-shared/lrn037/PDEBench_Data/2D/diffusion-reaction', 'diffre2d', '', "tk-2D"],
              ]
  append_datasets: [] # List of datasets to append to the input/output projections for finetuning


